name: test-bot
on:
  push:
    branches:
      - master
      - 'releases/**'
jobs:
  test:
    name: ${{ matrix.browser }} e2e test on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        python-version: [ '3.10' ]
        browser: [ 'chrome', 'edge', 'gecko']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pwdriver codecov
      - name: Install chrome
        uses: nanasess/setup-chromedriver@v1.0.7
        if: matrix.browser == 'chrome'
      - name: Setup chromedriver
        run: chromedriver --url-base=/wd/hub &
        if: matrix.browser == 'chrome'
      - name: Install edge
        uses: browser-actions/setup-edge@latest
        if: matrix.browser == 'edge' && runner.os != 'Linux'
      - name: Install firefox
        uses: abhi1693/setup-browser@latest
        with:
          browser: firefox
          version: latest
        if: matrix.browser == 'gecko'
      - name: Start XVFB
        run: Xvfb :99 &
        if: runner.os != 'Windows'
      - name: Make configuration file
        run: |
          echo [automation] > config.ini
          echo automation.browser=${{ matrix.browser }} >> config.ini
          echo automation.local=true >> config.ini
          echo automation.url=http://localhost:4444/wd/hub >> config.ini
      - name: Test in ${{ matrix.browser }} with unittest
        run: coverage run --omit="tests/*" -m unittest discover tests/ eventdriver.py
        env:
          DISPLAY: :99
      - name: Upload coverage
        uses: codecov/codecov-action@v3

  safari:
    name: safari e2e test on macos-latest
    runs-on: macos-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pwdriver codecov
      - name: Start XVFB
        run: Xvfb :99 &
      - name: Make configuration file
        run: |
          echo [automation] > config.ini
          echo automation.browser=safari >> config.ini
          echo automation.local=true >> config.ini
          echo automation.url=http://localhost:4444/wd/hub >> config.ini
      - name: Test in safari with unittest
        run: coverage run --omit="tests/*" -m unittest discover tests/ eventdriver.py
        env:
          DISPLAY: :99
      - name: Upload coverage
        uses: codecov/codecov-action@v3